                                             table {
                                                 border-collapse: collapse
                                             }
                                             
                                             td,
                                             th {
                                                 border: 1px solid rgb(177, 13, 81);
                                                 padding: 10px
                                             }
                                             
                                             input {
                                                 margin-bottom: 3px
                                             }