body {
    margin: 0;
    padding: 0
}

.header-main {
    font-size: 35px;
    color: hotpink
}

h2 {
    font-size: 25px
}

.half-width {
    width: 40%;
    margin-left: 4%;
    padding: 0%;
    float: left
}

.half-width img {
    width: 100%
}

.peter-area {
    background-image: url("images/header-bg.png");
}

section {
    height: 450px
}

.peter-button {
    text-decoration: none;
    padding: 6px 12px;
    background-image: linear-gradient(45deg, rgb(211, 17, 153), rgb(223, 12, 12));
    color: white;
    border-radius: 3px;
}

.biography-area {
    background-image: url("images/biography-bg.png");
}

.work-area {
    background-image: url("images/latest-work-bg.png")
}

.letest-area h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 12%
}

.letest-img img {
    width: 30%;
    padding: 1%
}

.client-say {
    text-align: center
}

.p {
    width: 60%;
    text-align: center;
}

.massage-area {
    background-image: linear-gradient(10deg, rgb(5, 117, 84), blue);
    color: white;
    padding: 4px;
    width: 440px;
    border-radius: 5px;
    margin-left: 180px;
    margin-bottom: 50px
}